// Navigation Styles here

nav {
    display: flex;
    justify-content: space-between;
    margin: 2% auto;
    width: 60%;
    .nav-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
            color: @shark;
            text-decoration: none;
            font-size: 1.5rem;
        }
    }
}